<?xml version="1.0" encoding="utf-8"?>
<manifest package="money.cache.grex"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="money.cache.grex.GrexApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="money.cache.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="money.cache.grex.LoginActivity"
            android:label="@string/app_name">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="money.cache.grex.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="money.cache.grex.SignActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
            </intent-filter>
        </activity>
        <activity
            android:name="money.cache.grex.CaptureMediaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="money.cache.grex.HomeActivity"
            android:theme="@style/AppTheme" />

        <activity android:name="money.cache.grex.CreateRoomActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

    </application>

</manifest>